<header class="navbar">
  <div class="container">
    <nav>
    <%= link_to "sample app", root_path, id: "logo" %>
      <ul class="navbar-1">
        <li><%= link_to "Login", "#" %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </nav>
  </div>
</header>
